<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Formula</key>
		<string>Na₂O</string>
		<key>Nombres</key>
		<array>
			<string>óxido de sodio</string>
			<string>oxido de sodio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>SnO</string>
		<key>Nombres</key>
		<array>
			<string>óxido de estaño (II)</string>
			<string>óxido de estaño II</string>
			<string>oxido de estaño (II)</string>
			<string>oxido de estaño II</string>
			<string>protóxido de estaño</string>
			<string>óxido estañoso</string>
			<string>oxido estañoso</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>SnO₂</string>
		<key>Nombres</key>
		<array>
			<string>óxido de estaño (IV)</string>
			<string>óxido de estaño IV</string>
			<string>oxido de estaño (IV)</string>
			<string>oxido de estaño IV</string>
			<string>dióxido de estaño</string>
			<string>bióxido de estaño</string>
			<string>óxido estáñico</string>
			<string>óxido estañico</string>
			<string>oxido estáñico</string>
			<string>oxido estañico</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>FeO</string>
		<key>Nombres</key>
		<array>
			<string>óxido de hierro (II)</string>
			<string>oxido de hierro (II)</string>
			<string>óxido de hierro II</string>
			<string>oxido de hierro II</string>
			<string>óxido ferroso</string>
			<string>oxido ferroso</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Fe₂O₃</string>
		<key>Nombres</key>
		<array>
			<string>óxido de hierro (III)</string>
			<string>oxido de hierro (III)</string>
			<string>óxido de hierro III</string>
			<string>oxido de hierro III</string>
			<string>trióxido de dihierro</string>
			<string>óxido férrico</string>
			<string>oxido férrico</string>
			<string>óxido ferrico</string>
			<string>oxido ferrico</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Cu₂O</string>
		<key>Nombres</key>
		<array>
			<string>óxido de cobre (I)</string>
			<string>óxido de cobre I</string>
			<string>oxido de cobre (I)</string>
			<string>oxido de cobre I</string>
			<string>óxido cuproso</string>
			<string>oxido cuproso</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>CuO</string>
		<key>Nombres</key>
		<array>
			<string>óxido de cobre (II)</string>
			<string>óxido de cobre II</string>
			<string>oxido de cobre (II)</string>
			<string>oxido de cobre II</string>
			<string>óxido cúprico</string>
			<string>oxido cúprico</string>
			<string>óxido cuprico</string>
			<string>oxido cuprico</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>MgO</string>
		<key>Nombres</key>
		<array>
			<string>óxido de magnesio</string>
			<string>oxido de magnesio</string>
			<string>monóxido de magnesio</string>
			<string>monoxido de magnesio</string>
			<string>óxido magnésico</string>
			<string>oxido magnésico</string>
			<string>oxido magnesico</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>LiH</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de litio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>NaH</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de sodio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>AlH₃</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de aluminio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>LiH</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de litio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>CaH₂</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de calcio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>SrH₂</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de estroncio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>MgH₂</string>
		<key>Nombres</key>
		<array>
			<string>hidruro de magnesio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>KBr</string>
		<key>Nombres</key>
		<array>
			<string>bromuro de potasio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>FeCl₂</string>
		<key>Nombres</key>
		<array>
			<string>cloruro de hierro (II)</string>
			<string>cloruro de hierro II</string>
			<string>cloruro ferroso</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Au₂S₃</string>
		<key>Nombres</key>
		<array>
			<string>sulfuro de oro (III)</string>
			<string>sulfuro de oro III</string>
			<string>sulfuro áurico</string>
			<string>sulfuro aurico</string>
			<string>trisulfuro de dioro</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>MgBr₂</string>
		<key>Nombres</key>
		<array>
			<string>bromuro de magnesio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>BaS</string>
		<key>Nombres</key>
		<array>
			<string>sulfuro de bario</string>
			<string>monosulfuro de bario</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Li₂Se</string>
		<key>Nombres</key>
		<array>
			<string>seleniuro de litio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Li₂S</string>
		<key>Nombres</key>
		<array>
			<string>sulfuro de litio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>LiBr</string>
		<key>Nombres</key>
		<array>
			<string>bromuro de litio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>SrS</string>
		<key>Nombres</key>
		<array>
			<string>sulfuro de estroncio</string>
			<string>monosulfuro de estroncio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>NaF</string>
		<key>Nombres</key>
		<array>
			<string>fluoruro de sodio</string>
			<string>fluoruro sódico</string>
			<string>fluoruro sodico</string>
			<string>monofluoruro de sodio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>KF</string>
		<key>Nombres</key>
		<array>
			<string>fluoruro de potasio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>Ag₂S</string>
		<key>Nombres</key>
		<array>
			<string>sulfuro de plata</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>BCl₃</string>
		<key>Nombres</key>
		<array>
			<string>cloruro de boro</string>
			<string>tricloruro de boro</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>BF₃</string>
		<key>Nombres</key>
		<array>
			<string>fluoruro de boro</string>
			<string>trifluoruro de boro</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>AlCl₃</string>
		<key>Nombres</key>
		<array>
			<string>cloruro de aluminio</string>
			<string>tricloruro de aluminio</string>
		</array>
	</dict>
	<dict>
		<key>Formula</key>
		<string>SrSe</string>
		<key>Nombres</key>
		<array>
			<string>seleniuro de estroncio</string>
			<string>monoseleniuro de estroncio</string>
			<string>seleniuro estróncico</string>
			<string>seleniuro estroncico</string>
		</array>
	</dict>
</array>
</plist>
