<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   CompuestosIonicosPoliatomicos.plist
   NQumicaInorganica

   Created by Melba Consuelos on 28/05/20.
   Copyright (c) 2020 Humberto Gonzalez Sanchez. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
