<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidróxido de amonio</string>
			<string>hidroxido de amonio</string>
		</array>
		<key>Formula</key>
		<string>NH₄OH</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de amonio</string>
		</array>
		<key>Formula</key>
		<string>NH₄ClO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de amonio</string>
		</array>
		<key>Formula</key>
		<string>NH₄NO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de amonio</string>
		</array>
		<key>Formula</key>
		<string>(NH₄)₂CO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de amonio</string>
		</array>
		<key>Formula</key>
		<string>(NH₄)₂SO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>fosfato de amonio</string>
		</array>
		<key>Formula</key>
		<string>(NH₄)₃PO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidróxido de litio</string>
			<string>hidroxido de litio</string>
		</array>
		<key>Formula</key>
		<string>LiOH</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de litio</string>
		</array>
		<key>Formula</key>
		<string>LiClO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de litio</string>
		</array>
		<key>Formula</key>
		<string>LiNO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de litio</string>
		</array>
		<key>Formula</key>
		<string>Li₂CO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfito de litio</string>
		</array>
		<key>Formula</key>
		<string>Li₂SO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de litio</string>
		</array>
		<key>Formula</key>
		<string>Li₂SO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>fosfato de litio</string>
		</array>
		<key>Formula</key>
		<string>Li₃PO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidroxido de berilio</string>
			<string>hidróxido de berilio</string>
		</array>
		<key>Formula</key>
		<string>Be(OH)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de berilio</string>
		</array>
		<key>Formula</key>
		<string>Be(ClO₃)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de berilio</string>
		</array>
		<key>Formula</key>
		<string>Be(NO₃)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de berilio</string>
		</array>
		<key>Formula</key>
		<string>BeCO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de berilio</string>
		</array>
		<key>Formula</key>
		<string>BeSO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>Fosfato de berilio</string>
		</array>
		<key>Formula</key>
		<string>Be₃(PO₄)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidróxido de boro</string>
			<string>hidroxido de boro</string>
		</array>
		<key>Formula</key>
		<string>B(OH)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de boro</string>
		</array>
		<key>Formula</key>
		<string>B(ClO₃)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de boro</string>
		</array>
		<key>Formula</key>
		<string>B(NO₃)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrito de boro</string>
		</array>
		<key>Formula</key>
		<string>B(NO₂)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de boro</string>
		</array>
		<key>Formula</key>
		<string>B₂(CO₃)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de boro</string>
		</array>
		<key>Formula</key>
		<string>B₂(SO₄)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>fosfato de boro</string>
		</array>
		<key>Formula</key>
		<string>BPO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidróxido de cobre i</string>
			<string>hidroxido de cobre i</string>
		</array>
		<key>Formula</key>
		<string>CuOH</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidroxido de cobre ii</string>
			<string>hidróxido de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>Cu(OH)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de cobre i</string>
		</array>
		<key>Formula</key>
		<string>CuClO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>Cu(ClO₃)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de cobre i</string>
		</array>
		<key>Formula</key>
		<string>CuNO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>nitrato de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>Cu(NO₃)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de cobre i</string>
		</array>
		<key>Formula</key>
		<string>Cu₂CO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>carbonato de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>CuCO₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de cobre i</string>
		</array>
		<key>Formula</key>
		<string>Cu₂SO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>sulfato de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>CuSO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>fosfato de cobre i</string>
		</array>
		<key>Formula</key>
		<string>Cu₃PO₄</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>fosfato de cobre ii</string>
		</array>
		<key>Formula</key>
		<string>Cu₃(PO₄)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidroxido de cromo ii</string>
			<string>hidróxido de cromo ii</string>
		</array>
		<key>Formula</key>
		<string>Cr(OH)₂</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>hidroxido de cromo iii</string>
			<string>hidróxido de cromo iii</string>
		</array>
		<key>Formula</key>
		<string>Cr(OH)₃</string>
	</dict>
	<dict>
		<key>Nombres</key>
		<array>
			<string>clorato de cromo ii</string>
		</array>
		<key>Formula</key>
		<string>Cr(ClO₃)₂</string>
	</dict>
</array>
</plist>
